$TTL 604800
@   IN  SOA dns1.ypf.lab. admin.ypf.lab. (
        3
        604800
        86400
        2419200
        604800 )

@    IN  NS dns1.ypf.lab.
@    IN  NS dns2.ypf.lab.

2   IN  PTR dns1.ypf.lab.
3   IN  PTR dns2.ypf.lab.
4   IN  PTR web.ypf.lab.
5   IN  PTR dhcp.ypf.lab.
6   IN  PTR bdd.ypf.lab.
