
---
- name: Installer script de sauvegarde MySQL et configurer cron
  hosts: bdd
  become: yes
  vars:
    backup_script_path: /usr/local/bin/backup_mysql.sh
    log_file_path: /var/log/mysql_backup.log
    playbook_path: /etc/ansible/playbooks/backup-mysql.yml
    inventory_path: /etc/ansible/inventory.ini

  tasks:
    - name: Créer le script de sauvegarde
      copy:
        dest: "{{ backup_script_path }}"
        mode: '0755'
        content: |
          #!/bin/bash
          export PATH=/usr/local/bin:/usr/bin:/bin
          /usr/bin/ansible-playbook -i "{{ inventory_path }}" "{{ playbook_path }}"

    - name: Créer le fichier log
      file:
        path: "{{ log_file_path }}"
        state: touch
        mode: '0644'

    - name: Ajouter la tâche cron pour exécuter la sauvegarde à 02:00
      cron:
        name: "Sauvegarde MySQL via Ansible"
        user: root
        minute: "0"
        hour: "2"
        job: "{{ backup_script_path }} >> {{ log_file_path }} 2>&1"
